@charset "UTF-8";
@font-face {
     font-family: Titulos;
     src: url('../fontes/ADAM.CG PRO.otf');
}

a{
  text-decoration: none;
}

p{
  text-align: justify;
  text-indent: 50px;
  color: black;
}

div#interface{
  background-color: #48D1CC;
  width: 100%;
  height: 1230px;
}

header#cabecalho{
  height: 50px;
  background-color: white;
  width: 100%;
  position: fixed;
}

header#cabecalho img{
  height: 100px;
  padding-left: 30px;
}

nav#menu ul{
  position: relative;
  text-transform: uppercase;
  text-align: right;
  float: right;
  clear: both;
}

nav#menu li{
  display: inline-block;
  background-color: white;
  padding: 12px;
  margin: 2px;
  font-size: 13pt;
  font-family: 'Titulos', sans-serif;
}

nav#menu h1{
  display: none;
}

nav#menu a {
  color: gray;
}

nav#menu a:hover {
  color: #691065;
}

section#corpo{
  height: 650px;
  width: 100%;
  float: left;
  background: url(../img/fundo_corpo.png) no-repeat;
  background-position: center;
  border-bottom: 5px solid white;
}

section#corpo h1{
  color: rgb(244,244,244);
  text-align: center;
  margin-top: 100px;
  font-size: 30pt;
}

section#corpo h2{
  color: rgb(244,244,244);
  text-align: center;
  font-size: 30pt;
  margin-bottom: 30px;
}

input#botao_produto{
	font-size: 20px;
	color: white;
	padding: 12px 30px;
  background-color: #48D1CC;
	border: 1px solid #ffffff;
}

input#botao_serviço{
	font-size: 20px;
	color: #48D1CC;
	padding: 12px 30px;
  background-color: white;
	border: 1px solid #ffffff;
}

section#corpo input:hover{
	border: 1px solid lightgray;
  background-color: rgba(135, 206, 235,.8);
  color: white;
  cursor: pointer;
}

section#corpo a#botaop{
  margin-left: 37%;
  padding: 10px;
}

section#quemsomos{
  background-color: #f2f2f2;
  width: 100%;
  height: 490px;
  float: left;
  font-family: 'Titulos', sans-serif;
  border-bottom: 5px solid white;
}

section#quemsomos h1{
  color: black;
  text-align: center;
  margin-top: 50px;
  font-size: 30pt;
}

section#quemsomos p.titulo{
  text-align: center;
  text-indent: 5px;
  padding-top: 10px;
  padding-left: -30px;
  color: gray;
}
section#quemsomos figure.galeria{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  left: 30%;
  margin: 20px 100px 0px 25px;
  display: inline-block;
}

section#quemsomos img{
  width: 100%;
}

section#quemsomos p.legenda{
  font-size: 11pt;
  color: gray;
  padding-top: 20px;
  padding-left: 10%;
  text-align: center;
  width: 80%;
}

section#contato{

}

section#trabelheconosco{

}

footer.rodape{
  clear: both;
  width: 100%;
  height: 40px;
  font-size: 15pt;

}

footer#rodape1{
    background-color: white;
}

footer#rodape2{
    background-color: rgb(230,230,230);
}

footer ul{
  padding-top: .5%;
  float: left;
  position:relative;
  left: 36%;
}

footer.rodape li{
  display: inline-block;
  font-family: 'Titulos', sans-serif;
  font-size: 11pt;
  color: gray;
  padding-right: 50px;
}

footer.rodape li:hover{
  color: #691065;
}

footer#rodape2 li{
  padding-left: 20px;
}

footer#rodape2 img{
  height: 40px;
  width: 120px;
  float: right;
}
