@charset "UTF-8";
@font-face {
     font-family: Titulos;
     src: url('../fontes/ADAM.CG PRO.otf');
}

a{
  text-decoration: none;
}

div#interface{
  width: 100%;
}

header#cabecalho{
  height: 50px;
  background-color: rgba(255, 255, 255,.9);
  width: 40%;
  position: absolute;
  left: 30%;
  right: 30%;
  border-radius: 5px 5px 50px 50px;
}

/* === LOGO === */

header#cabecalho img{
  padding-left: 2%;
  height: 6%;
  width: 6%;
}

/* === MENU OPÇOES === */

nav#menu ul{
  position: relative;
  text-transform: uppercase;
  text-align: center;
}

nav#menu li{
  display: inline-block;
  padding: 2% 3% 2% 5%;
  margin: 0.5%;
  font-size: 13pt;
  font-family: 'Titulos', sans-serif;
}

nav#menu h1{
  display: none;
}

nav#menu a {
  color: gray;
}

nav#menu a:hover {
  color: rgb(72, 88, 140);
  font-weight: 200;
}

/* === CORPO PRODUTO SERVIÇO === */

section#corpo{
  width: 100%;
  float: left;
  background-color: rgb(72, 88, 120);

}

section#corpo h1{
  color: white;
  text-align: center;
  margin-top: 7%;
  font-size: 38pt;
}

section#corpo h2{
  color: white;
  text-align: center;
  font-size: 37pt;
  margin-bottom: 2%;
}

.btm_ps{
  width: 24.3%;
  clear: both;
  display: inline-block;
  margin-left: 37.85%;
  margin-right: 37.85%;
}

input#botao_produto{
	color: white;
  background-color: rgb(72, 88, 120);
  margin-right: 4%;
  padding: 3% 7%;
}

input#botao_serviço{
	color: rgb(72, 88, 120);
  background-color: white;
  padding: 3% 8%;
  margin-top: 3%;
}

section#corpo input{
  font-size: 30px;
  border: 1px solid #ffffff;
}

section#corpo input:hover{
	border: 1px solid lightgray;
  background-color: rgba(135, 206, 235,.5);
  color: white;
  cursor: pointer;
}

section#corpo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section#corpo img:hover{
  filter: drop-shadow(8px 8px 10px gray);
}

/* === QUEM SOMOS === */

section#quemsomos{
  background: url("../img/fundo_quemsomos.png") repeat 100% 100%;
  background-size: 100%;
  width: 100%;
  float: left;
  font-family: 'Titulos', sans-serif;
}

section#quemsomos h1{
  color: black;
  text-align: center;
  margin-top: 4%;
  font-size: 40pt;
}

section#quemsomos p.titulo{
  text-align: center;
  padding-top: 2%;
  color: black;
  font-size: 20pt;
}
section#quemsomos figure.galeria{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: block;
  float: left;
  margin: 1%;
}

section#quemsomos img{
  width: 100%;
}

section#quemsomos p.legenda{
  font-size: 11pt;
  color: gray;
  text-align: left;
  width: 95%;
  text-indent: 3%;
  padding-top: 5%;
}

/* === CONTATO === */

section#contato{
  width: 100%;
  float: left;
  background: url("../img/fundo_contato.png");
  background-size: 100%;
}

section#contato div#infocontato{
  float: left;
  width: 30%;
  font-family: 'Titulos';
}

section#contato div#infocontato h5{
    color: rgb(72, 88, 120);
    padding-left: 6%;
    font-size: 15pt;
    padding-top: 10%;
    font-weight: bolder;
}

section#contato div#infocontato h5.hespaço{
  padding-top: 30%;
}

section#contato div#infocontato p{
    color: white;
    font-size: 20pt;
    padding-top: 7%;
    text-align: left;
    padding-left: 50px;
}

section#contato div#infocontato img{
  height: 150px;
  padding-left: 20%;
}

/* === FORMULARIO CONTATO === */

section#contato div#formcontato{
  float: left;
  height: 100%;
  width: 55%;
}

section#contato div#formcontato h1{
  color: rgb(72, 88, 120);
  font-weight: bolder;
  padding-left: 23%;
  font-family: 'Titulos', Arial;
  padding-top: 10%;
  font-size: 40pt;
}

section#contato div#formcontato p{
  float: left;
  padding: 4% 3% 0px 0px;
}


section#contato div#formcontato input#cNome, input#cMail{
  border-radius: 40px 40px;
  overflow: hidden;
  height: 50px;
  width: 100%;
  text-indent: 10px;
  font-family: 'Titulos', Arial;
  clear: right;
}

section#contato div#formcontato p.pContato{
  padding-left: 20%;
}

section#contato div#formcontato p.pMsg{
  padding-left: 14%;
}

section#contato div#formcontato textarea{
  border-radius: 20px 20px;
  text-indent: 2%;
  padding-top: 1%;
  margin-bottom: 3%;
  font-size: 15pt;
  font-family: 'Titulos', Arial;
}

input.enviar {
  cursor: pointer;
	font-family: 'Titulos',Arial, Helvetica, sans-serif;
	font-size: 18pt;
	color: #000000;
  display: block;
  margin-left:auto;
  margin-right: auto;
	padding: 1% 3%;
	background: -moz-linear-gradient(
		top,
	 white 0%,
		#red);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(white),
		to(#cfc9b8));
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	border: 0px solid #f2f5f5;
}

/* === RODAPE REDES SOCIAS === */

footer.rodape{
  clear: both;
  width: 100%;
  height: 70px;
  background-color: rgb(230,230,230);
  padding-top: .5%;
}

.icons{
  position: absolute;
  text-align: center;
  list-style: inside;
}
.icons li{
  margin-right: 2%;
  display: inline-block;
  padding: 0 1% 0 0;
}

footer.rodape img{
  height: 30px;
  width: 30px;
  filter: grayscale(70%);
  filter: saturate(50%);
}

.rodape img:hover{
  filter: grayscale(0%);
  filter: saturate(100%);

}
/* === RODAPE COPYRIGHT === */

.copyright{
  font-family: 'Titulos', sans-serif;
}

li.copyright{
  display: block;
  font-size: 10pt;
}

ul.copyright{
  display: inline;
  float: right;
  padding-right: 2%;
  margin-top: -4%;
}

h2.copyright{
  font-size: 12pt;
  color: gray;
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 2%;
}

.ahover a:hover{
  color: #008B8B;
}

.ahover a{
  color: black;
}
